@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Supermercado One', cursive;
}

p{
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2rem;
    text-indent: 3rem;
}

img{
    display: block;
    width: 50%;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    transition: 0.3s;
}

img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.container > *{
    border: 1px solid black;
    padding: 20px;
}

.container{
    display: grid;

    grid-template-columns: 200px auto;
    grid-template-rows: 100vh auto auto;

    grid-template-areas: "header header"
                         "nav main"
                         "footer footer";
}

@media screen and (max-width: 900px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: 130vh repeat(3, auto);

        grid-template-areas: "header"
                             "main"
                             "nav"
                             "footer";
    }
}

@media screen and (max-height: 500px) {
    .container {
        grid-template-rows: 550px auto;
    }
}


.header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    grid-area: header;
    position: relative;
    background-color: rgba(0,0,0,0.4);
    padding: 40px;
}

.header::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 3px rgb(6, 102, 94);
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 50%;
}



.menu li {
    width: 25%;
    margin: 10px;
    box-shadow: 0 0 2px black;
    background-color: rgba(0, 0, 0, 0.2);
}

.menu a {
    display: block;
    padding: 12px 15px;
    text-decoration: none;
    text-align: center;
    font-size: 1.25rem;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: rgba(205, 205, 205, 0.7);
}


.login a {
    display: block;
    padding: 12px 15px;
    background-color: rgb(5, 130, 132);
    text-decoration: none;
    color: black;
    border-radius: 5px;
    font-size: 1.25rem;
    transition: 0.3s;
}

.login a:hover {
    background-color: rgba(255, 145, 0, 0.8);
}


@media screen and (max-width: 920px) {
    .header {
        flex-direction: column; 
    }
    .menu {
        width: 100%;
    }

    .menu li {
        min-width: 150px;
    }

    img {
        width: 75%;
    }
}


@media screen and (max-width: 500px) {

    html {
        font-size: 12px;
    }
    
    .menu {
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 100%;
    }
}


.main{
    grid-area: main;
}


.nav {
    grid-area: nav;
    background-color: white;
    padding: 50px 0;
}

.nav ul {
    list-style-type: none;
}

.nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 5px;
    color: gray;
    font-size: 1.25rem;
    font-weight: bold;
    transition: 0.3s;
}
.nav a:hover {
    background-color: rgb(240, 240, 240);
}

.nav i {
    margin-left: 20px;
}


.footer {
    grid-area: footer;
    background-color: rgb(27, 27, 27);
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 150px 0;
}

.footer .social {
    text-align: center;
    color: rgb(255, 255, 255);
}

.footer i {
    margin: 15px;
    transition: 0.3s;
}

.footer i:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 400px) {
    .footer i {
        margin: 5px;
    }
}